# Terraform
terraform/.terraform*
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
terraform/terra-key
terraform/terra-key.pub

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do want to track if desired
# !override.tf

# Include tfplan files to ignore the plan output of all following terraform commands below
# .terraform.lock.hcl is included as it's needed for provider versioning
